services:
  # Реєстр сховищ (Registry) - 1 бал
  postgres_registry:
    image: postgres:15-alpine
    container_name: travel_registry
    environment:
      POSTGRES_DB: registry_db
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: 123rty789
    ports:
      - "5431:5432"

  # Вузол 00 (db_0 - db_3)
  postgres_00:
    image: postgres:15-alpine
    container_name: postgres_00
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: 123rty789
      POSTGRES_DB: travel_db_init
      START_IDS: "0 1 2 3"
    ports:
      - "5432:5432"
    volumes:
      - ./init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  # Вузол 01 (db_4 - db_7)
  postgres_01:
    image: postgres:15-alpine
    container_name: postgres_01
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: 123rty789
      POSTGRES_DB: travel_db_init
      START_IDS: "4 5 6 7"
    ports:
      - "5433:5432"
    volumes:
      - ./init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  # Вузол 02 (db_8 - db_b)
  postgres_02:
    image: postgres:15-alpine
    container_name: postgres_02
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: 123rty789
      POSTGRES_DB: travel_db_init
      START_IDS: "8 9 a b"
    ports:
      - "5434:5432"
    volumes:
      - ./init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  # Вузол 03 (db_c - db_f)
  postgres_03:
    image: postgres:15-alpine
    container_name: postgres_03
    environment:
      POSTGRES_USER: travel_user
      POSTGRES_PASSWORD: 123rty789
      POSTGRES_DB: travel_db_init
      START_IDS: "c d e f"
    ports:
      - "5435:5432"
    volumes:
      - ./init-shards.sh:/docker-entrypoint-initdb.d/init-shards.sh:ro

  app:
    build: .
    container_name: travel_planner_api
    ports:
      - "3000:3000"
    environment:
      - DOCKER_ENV=true
      - REGISTRY_URL=postgres://travel_user:123rty789@postgres_registry:5432/registry_db
    depends_on:
      - postgres_registry